* {
  margin: 0;
  padding: 0;
}
h2, h1{
    color:rgb(0, 102, 190)
  }
  h4,h3{
    color:rgb(0, 58, 109)
  }
  nav{
    max-width: 100%;
    margin: auto;
  }
  nav ul {
      list-style-type: none;
      margin: auto;
      padding: auto;
      overflow: auto;
      background-color: rgb(11, 0, 71);
    }
    
  nav li {
      float: left;
    }
    
  nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
  nav li a:hover {
      background-color: rgb(8, 1, 52);
    }
  .logo{
    max-width: 400px;
    max-height: auto;
    padding: 20px 10px 20px;
    color: white;
  }
  
  header{
    background-color: white;
  }
  body{
    background-color: rgb(236, 236, 236);
    /* background-color: white; */
    font-family: Tahoma, Verdana, sans-serif;
  }
  main{
    background-color: white;
    max-width: 75%;
    background-repeat: repeat-y;
    margin: auto;
    /* margin-top: -15px; */
    margin-bottom: -20px;
  }
/*alt başlık*/
  .section-0{
    margin-left:3%;
  }
  .section-0 h1{
    font-size: 32px;
  }
  /* Gelişme Bölümü*/
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /*Ürün kartı*/
  .card {
    background-color: rgb(243, 243, 243);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(11, 0, 71);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    background-color: rgb(8, 1, 52);
  }

  /* section-1*/
.section-1-column {
    float: left;
    width: 30%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */

  /* Gelişme bölümü sona erdi*/
  footer{
    background-color: rgb(11, 0, 71);
    margin-top: 20px;
    color: white;
    padding-bottom: 3%;
  }
  .footer-logo{
    max-width: 400px;
    max-height: auto;
    padding: 20px 10px 20px;
    margin-left: 5%;
  }
  .footer-info{
    margin-left: 5%;
  }
  .footer-list{
    margin-left: 5%;
  }
  .limit{
    display: inline;
    color: blue;
  }
  .footer-list a:visited {
    color: blue;
  }
  @media only screen and (max-width: 768px) {
    main{
      max-width: 100%;
    }
    body{
      background-color: white;
    }
    .broker-info{
      display: inline;
    }
    .broker-info-text{
      display: inline;
    }
    .section-1-column {
        width: 100%;
      }
    /* #table-row-barrier{
      display: none;
    } */
  
  }
  .photo{
    width: 200px;
    height: auto;
    display: inline-block;
  }
  .gallery-plan{
    margin-left: 10%;
  }
  .broker-profile{
    width: 200px;
    height: auto;
    display: block;
  }
  .broker-info{
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    margin-left: 10%;
    /* border: 2px rgb(11, 0, 71); */
    /* background-color: rgb(11, 0, 71);
    color: white; */
    padding: 25px 25px;
  }
  .broker-info-text{
    /* left: 20%; */
    margin-left: 10%;
    /* background-color: rgb(11, 0, 71);
    color: white; */
  }
  /* ul > li{
    list-style: none;
    padding: 10px 30px;
    background-image: url('../pictures/icon-png/');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
  }
  .sink{
    background-image: url('../pictures/icon-png/sink.png');
  }*/
  /* .Dinghy{
    list-style-image: url('../pictures/icon-png/Dinghy2.png');
  }  */
  