* {
  margin: 0;
  padding: 0;
}
h2, h1{
  color:rgb(0, 102, 190);
}

h2{
  margin: 30px;
}
h4,h3{
  color:rgb(0, 58, 109);

}
nav{
  max-width: 100%;
  margin: auto;
}
nav ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
    overflow: auto;
    background-color: rgb(11, 0, 71);
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav li a:hover {
    background-color: rgb(8, 1, 52);
  }
.logo{
  max-width: 400px;
  max-height: auto;
  padding: 20px 10px 20px;
  color: white;
}

header{
  background-color: white;
}
body{
  background-color: rgb(236, 236, 236);
  font-family: Tahoma, Verdana, sans-serif;
}
main{
  background-color: white;
  max-width: 75%;
  background-repeat: repeat-y;
  margin: auto;
  margin-top: -0px;
  margin-bottom: -20px;
}


.Text{
  left: 5px;
  margin-left: 9px;
}
.shipPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
}
.Features{
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
}
.Features-table-header{
  color: black;
  /* background-color: rgb(11, 0, 71); */
  border-collapse: collapse;
  text-align: center;
}
.Features table{
  /* display: block; */
  border-collapse: collapse;
  /* margin-left: 10%;  */
  /* position: relative; */
  /* left: 15%; */
  /* border: 2px solid rgb(11, 0, 71); */
  overflow-x: auto;
}
.Features table tr{
  border-bottom: 1px solid #ddd;
}
.Features table td{
  padding: 10px;
  border-collapse: collapse;
}
#table-row-barrier{
  width: 50px;
  border-bottom: 1px solid rgba(221, 221, 221, 0);
}
#no-feature-this-column{
  border-bottom: 1px solid rgba(221, 221, 221, 0);
}
th{
  text-align: left;
  padding-right: 15px;
}
/* #td-limit{
  border-right: 2px solid rgb(11, 0, 71);
} */
.Facilities{
  display: flex; 
  justify-content: center;
  width: 100%;
  flex-direction: row;
  list-style-image: url('../icons/check2-circle.svg');
  /* font-size: 20px; */
  /* float: left; */
  /* position: relative; */
  /* background-color: white; */
  /* left: 20%; */
}

.Facilities-list {
  flex: 1; /* Her bir kutuyu eşit genişlikte yap */
  margin: 0 30px; /* Aralarında boşluk bırak */
  text-align: center;
  padding: 30px;
  /* background-color: #f4f4f4; */
  /* border: 1px solid #ccc; */
}

.explanation{
  display: inline-block;
  margin-left: 5%;
  width: 75%;
}

.pay-table, .pay-table td{
  /* display: flex; */
  /* width: 50%; */
  margin: auto;
  justify-content: center;
  /* margin-left: 40%; 
  max-width: 75%; */
  /* border: 2px solid rgb(11, 0, 71); */
  border-collapse: collapse;
  /* text-align: center; */
}
.pay-table th{
  text-align: center;
}
.to-reservation:link, .to-reservation:visited {
  background-color: rgb(0, 102, 190);
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin-left: 25%; */
  /* margin-right: 30%; */
  /* margin-top: 5%; */
  border-radius: 15px;
  justify-content: center;
}

.to-reservation:hover, .to-reservation:active {
  background-color: rgb(0, 58, 110);
  color: white;
}
.terms-of-payment{
  margin-left: 2%;
}
.additional-services table, .additional-services tr, .additional-services th,.additional-services td{
  max-width: 75%;
  margin: auto;
  /* margin-left: 10%; */
  /* left: 25%; */
  border: 2px solid rgb(11, 0, 71);

}
.additional-services table{
  /* margin-left: 15%; */
  /* left: 10%; */
  border-collapse: collapse; 
}
.additional-services th{
color: white;
background-color: rgb(11, 0, 71);
}
.additional-services tr:nth-child(odd){background-color: #f2f2f2;}
/* .Features tr:nth-child(odd){background-color: #f2f2f2;} */
#no{
  color: rgb(179, 179, 179);
  text-decoration: line-through;
  list-style-image: none;
  list-style-type: none;
  background-image:none;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.take-yatch-half{
  float: left;
  width: 45%;
  padding: 15px;
  /* text-align: center; */
}
/* li { list-style-type: none;} yazmadık çünkü bir hata olur iconlar yüklenemezse liste elemanlarının başında bir şey olsun diye*/
/* .Bimini{
  list-style-image: url('../pictures/svg/align-start.svg');
}
.Salon-GPS-plotter{
  list-style-image: url('../pictures/svg/gps.svg');
} */
footer{
  background-color: rgb(11, 0, 71);
  margin-top: 20px;
  color: white;
  padding-bottom: 3%;
}
.footer-logo{
  max-width: 400px;
  max-height: auto;
  padding: 20px 10px 20px;
  margin-left: 5%;
}
.footer-info{
  margin-left: 5%;
}
.footer-list{
  margin-left: 5%;
}
.limit{
  display: inline;
  color: blue;
}
.footer-list a:visited {
  color: blue;
}

.for-phone{
  display: none;
}
.take-yatch-content{
  margin-left: 15%;
  margin-top: 5%;
}
@media only screen and (max-width: 768px) {
  main{
    max-width: 100%;
  }
  body{
    background-color: white;
  }
  .broker-info{
    display: inline;
  }
  .broker-info-text{
    display: inline;
  }
  /* #table-row-barrier{
    display: none;
  } */
  .map{
    display: none;
  }
  .for-phone{
    display: block;
  }
  .take-yatch-half{
    max-width: 100%;
  }
  .take-yatch-content{
    margin-left: 36%;
    margin-top: 5%;
  }

}
@media only screen and (max-width: 900px){
  .map{
    display: none;
  }
  .for-phone{
    display: block;
  }
  .take-yatch-half{
    max-width: 100%;
  }
  .take-yatch-content{
    margin-left: 36%;
    margin-top: 5%;
  }
}
.photo{
  width: 200px;
  height: auto;
  display: inline-block;
}
.gallery-plan{
  margin-left: 10%;
  margin-right: 5%;
}

.gallery-plan img{
  cursor: pointer;
  object-fit: cover;
}

.broker-profile{
  width: 200px;
  height: auto;
  display: block;
}
.broker-info{
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  margin-left: 10%;
  /* border: 2px rgb(11, 0, 71); */
  /* background-color: rgb(11, 0, 71);
  color: white; */
  padding: 25px 25px;
}
.broker-info-text{
  /* left: 20%; */
  margin-left: 10%;
  /* background-color: rgb(11, 0, 71);
  color: white; */
}
/* ul > li{
  list-style: none;
  padding: 10px 30px;
  background-image: url('../pictures/icon-png/');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}
.sink{
  background-image: url('../pictures/icon-png/sink.png');
}*/
/* .Dinghy{
  list-style-image: url('../pictures/icon-png/Dinghy2.png');
}  */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 80%;
}

.modal img {
  width: auto;
  height: 85%;
}

.close {
  position: absolute;
  top: 20px;
  right: 25px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}