* {
    margin: 0;
    padding: 0;
  }
  h2, h1{
      color:rgb(0, 102, 190)
    }
    h4,h3{
      color:rgb(0, 58, 110)
    }
    nav{
      max-width: 100%;
      margin: auto;
    }
    nav ul {
        list-style-type: none;
        margin: auto;
        padding: auto;
        overflow: auto;
        background-color: rgb(11, 0, 71);
      }
      
    nav li {
        float: left;
      }
      
    nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
    nav li a:hover {
        background-color: rgb(8, 1, 52);
      }
    .logo{
      max-width: 400px;
      max-height: auto;
      padding: 20px 10px 20px;
      color: white;
    }
    
    header{
      background-color: white;
    }
    body{
        font-family: Tahoma, Verdana, sans-serif;
        margin: 0;
      }


    /* Gelişme Bölümü*/
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

    /* section-1*/
    .section-1-img{
        width: 50%;
        height: auto;
        opacity: 0.5;
      }
    .section-1-header{
        margin-left: 8%;
      }
    .section-1-content{
        margin: 10% 8%;
      }
    .section-1-column {
        float: left;
        width: 22%;
        padding: 15px;
        text-align: center;
      }
    .section-1 h2{
        font-size: 45px;
    }
    .section-1 h3{
        text-align: center;
        font-size: 24px;
    }
    .flag{
        margin-left: 15px;
        margin-bottom: -3px;
    }
    /*section-2*/
    .section-2-column {
        float: left;
        width: 14.5%;
        padding: 15px;
        text-align: center;
      }
      .section-2-img{
        display: none;
        width: 50%;
        height: auto;
        opacity: 0.5;
      }
      .section-2-content{
        margin: 10% 8%;
        justify-content: center;
        
      }
      #destroy{
        visibility:hidden;
      }

    /* Gelişme bölümü sona erdi*/
    footer{
      background-color: rgb(11, 0, 71);
      margin-top: 20px;
      color: white;
      padding-bottom: 3%;
    }
    .footer-logo{
      max-width: 400px;
      max-height: auto;
      padding: 20px 10px 20px;
      margin-left: 5%;
    }
    .footer-info{
      margin-left: 5%;
    }
    .footer-list{
      margin-left: 5%;
    }
    .limit{
      display: inline;
      color: blue;
    }
    .footer-list a:visited {
      color: blue;
    }
    @media only screen and (max-width: 768px) {
      main{
        max-width: 100%;
      }
      body{
        background-color: white;
      }
      .broker-info{
        display: inline;
      }
      .broker-info-text{
        display: inline;
      }
      .section-1-column {
          width: 100%;
        }
        .section-2-column {
            width: 100%;
          }
      /* #table-row-barrier{
        display: none;
      } */
    
    }
    .photo{
      width: 200px;
      height: auto;
      display: inline-block;
    }
    .gallery-plan{
      margin-left: 10%;
    }
    .broker-profile{
      width: 200px;
      height: auto;
      display: block;
    }
    .broker-info{
      display: flex;
      flex-direction: inherit;
      justify-content: center;
      margin-left: 10%;
      /* border: 2px rgb(11, 0, 71); */
      /* background-color: rgb(11, 0, 71);
      color: white; */
      padding: 25px 25px;
    }
    .broker-info-text{
      /* left: 20%; */
      margin-left: 10%;
      /* background-color: rgb(11, 0, 71);
      color: white; */
    }
    /* ul > li{
      list-style: none;
      padding: 10px 30px;
      background-image: url('../pictures/icon-png/');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 20px;
    }
    .sink{
      background-image: url('../pictures/icon-png/sink.png');
    }*/
    /* .Dinghy{
      list-style-image: url('../pictures/icon-png/Dinghy2.png');
    }  */
    