* {
  margin: 0;
  padding: 0;
}
h2, h1{
    color:rgb(0, 102, 190)
  }
  h4,h3{
    color:rgb(0, 58, 110)
  }
  nav{
    max-width: 100%;
    margin: auto;
  }
  nav ul {
      list-style-type: none;
      margin: auto;
      padding: auto;
      overflow: auto;
      background-color: rgb(11, 0, 71);
    }
    
  nav li {
      float: left;
    }
    
  nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
  nav li a:hover {
      background-color: rgb(8, 1, 52);
    }
  .logo{
    max-width: 400px;
    max-height: auto;
    padding: 20px 10px 20px;
    color: white;
  }
  
  header{
    background-color: white;
  }
  body{
      font-family: Tahoma, Verdana, sans-serif;
      margin: 0;
      background-image: url(../pictures/XVHD.gif);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }


  /* Gelişme Bölümü*/
  /*section-1*/
    .section-1{
      /* position: relative; */
      /* display: inline-block; */
      display: none;
      background-color: white;
      width: 40%;
    }
    .section-1-content{
      /* position: absolute; */
      margin-left: 5%;
    }

    /*deneme*/
    .heading>p{
      margin-left:50px;
      color:white;
      font-size:60px;
      display:block;
      padding:15px;
      font-weight: bolder;
    }
    .content-1{
      width:450px;
      border-radius:35px;
      overflow:hidden;
      background-color:white;
      margin-left: 5%;
    }
    .main_box
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .one
    {
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    form{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 5px;
      width: 60%;
    }
    .Content-1-label{
      display: block;
      font-size: 17px;
      font-weight: bold;
      margin: 5px 0;
    }
    .Content-1-input{
      padding: 10px;
      width: 100%;
      border: 2px solid black;
      border-radius: 15px;
      font-size: 17px;
      color: geay;
    }
    /*content-2*/
    .content-2{
      /* padding: 10px; */
      margin-top: 20px;
      align-items: center;
    }
    .content-2 input{
      display: block;
      margin-bottom: -18px;
      margin-left: -15px;
      padding: 10px;
      /* padding: 10px;
      margin-bottom: -20px; */
    }
    .content-2 label{
      padding: 5px;
      display: block;
      font-weight: bold;
      /* padding: 10px;
      margin-bottom: -20px; */
    }
    .content-2-half{
      margin-left: 10%;
      float: left;
      width: 40%;
    }
    .float-broker{
      content: "";
      display: flex;
    }
    /* .sent{
      margin: 15px 27%;
      clear: both;
      font-weight: bold;
      background-color: rgb(0, 102, 190);
      color: white;
      padding: 10px;
      border-radius: 15px;
      border: 0px;
    } */
    .sent:link, .sent:visited {
      background-color: rgb(0, 102, 190);
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin-left: 30%;
      margin-top: 5%;
      border-radius: 15px;
    }
    
    .sent:hover, .sent:active {
      background-color: rgb(0, 58, 110);
      color: white;
      border-radius: 15px;
    }
  /* Gelişme bölümü sona erdi*/
  footer{
    background-color: rgb(11, 0, 71);
    margin-top: 20px;
    color: white;
    padding-bottom: 3%;
  }
  .footer-logo{
    max-width: 400px;
    max-height: auto;
    padding: 20px 10px 20px;
    margin-left: 5%;
  }
  .footer-info{
    margin-left: 5%;
  }
  .footer-list{
    margin-left: 5%;
  }
  .limit{
    display: inline;
    color: blue;
  }
  .footer-list a:visited {
    color: blue;
  }
  @media only screen and (max-width: 768px) {
    main{
      max-width: 100%;
    }
    body{
      background-color: white;
    }
    .broker-info{
      display: inline;
    }
    .broker-info-text{
      display: inline;
    }
    .section-1-column {
        width: 100%;
      }
      .section-2-column {
          width: 100%;
        }
    /* #table-row-barrier{
      display: none;
    } */
  
  }
  .photo{
    width: 200px;
    height: auto;
    display: inline-block;
  }
  .gallery-plan{
    margin-left: 10%;
  }
  .broker-profile{
    width: 200px;
    height: auto;
    display: block;
  }
  .broker-info{
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    margin-left: 10%;
    /* border: 2px rgb(11, 0, 71); */
    /* background-color: rgb(11, 0, 71);
    color: white; */
    padding: 25px 25px;
  }
  .broker-info-text{
    /* left: 20%; */
    margin-left: 10%;
    /* background-color: rgb(11, 0, 71);
    color: white; */
  }
  /* ul > li{
    list-style: none;
    padding: 10px 30px;
    background-image: url('../pictures/icon-png/');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
  }
  .sink{
    background-image: url('../pictures/icon-png/sink.png');
  }*/
  /* .Dinghy{
    list-style-image: url('../pictures/icon-png/Dinghy2.png');
  }  */
  